<html>
<head>
	<title>Cadastro</title>
    <link rel = "stylesheet" href="/estatico/css/estilologin.css"/>
    <link rel="sortcut icon" href="/estatico/imagens/ff.png" type="image/x-icon" />;
</head>
<body id="corpo">

	<div id="freefire">
      <form action="/insertBDClientes" method="post">
		
		<h1>BEM VINDO AO BOOYAH</h1>
        <br>
        <h1 id="titulos" href="/login">FAÇA SEU CADASTRO</h1>
        <label for="nome">Nome Completo:</label> 
        <input type="text" name="nome" class="campo" id="espacos" size="40"><br><br>
        <label for="cpf">CPF:</label> 
        <input type="text" name="cpf" class="campo" id="espacos" size="11"><br><br>
        <label for="email">E-Mail:</label> 
        <input type="text" name="email" class="campo" id="espacos" size="60"><br><br>
        <label for="senha">Senha:</label> 
        <input type="password" name="senha" class="campo" id="espacos" size="40"><br><br>
        <input type="submit" value="Cadastrar" class="cadbtn" id="botao" href="/">
        </form>
	</div>
</body>
</html>