<html>
<head>
	<title>Cadastro</title>
    <link rel = "stylesheet" href="/estatico/css/estilologin.css"/>
    <link rel="sortcut icon" href="/estatico/imagens/ff.png" type="image/x-icon" />;
</head>
<body id="corpo">


	<div id="freefire">
      <form action="/validaBDUsuarios" method="post">
		
		<h1>BEM VINDO AO BOOYAH</h1>
        <br>
        <h1 id="titulos">SE JÁ ESTIVER CADASTRADO, FAÇA O LOGIN</h1>
        <label for="cpf">CPF:</label> 
        <input type="number" name="cpf" id="cpf" size="11"><br><br>
        <label for="senha">Senha:</label> 
        <input type="password" name="senha" id="senha" size="40"><br><br>
        <input type="submit" value="Login" class="logbtn" id="botao" href="/">
        <br>
        <br>
        <h1 id="titulos">CASO NÃO TENHA UM CADASTRO, VOLTE PARA A PÁGINA INICIAL E VÁ PARA A ABA DE CADASTRO.</h1>
      </form>
	</div>
</body>
</html>