
#titulo{
    font-family: 'Trebuchet MS',Helvetica, sans-serif;
    color:  rgb(220, 53, 69);
    font-size: 40px;
    text-align: center;
}
body{
    background-color: rgb(73, 73, 73);
}
#corpo{
    background-color: rgb(52, 58, 64);
}
p{
    font-family: 'Trebuchet MS',Helvetica, sans-serif;
    font-size: large;
}
td{
    color: white;
}
#botao{
    background-color: rgb(220, 53, 69);
    text-align: center;
    display: inline-block;
    font-size: 14px;
    padding: 8px 20px;
    margin:0px 850px;
    border-radius: 20px;
    font-size: 26px;
}